/********** SIDE BAR CSS ********/
.account-content .left-sidebar-main {
    flex: 0 0 27%;
    max-width: 27%;
    width: 100%;
    /* padding-right: 35px; */
}
.left-sidebar-main .sidebar-inner {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0.7698959708213806px 1.222775936126709px 0px rgba(80, 89, 126, 0.02), 0px 2.1286637783050537px 3.380819082260132px 0px rgba(80, 89, 126, 0.04), 0px 5.125002384185791px 8.13970947265625px 0px rgba(80, 89, 126, 0.05), 0px 17px 27px 0px rgba(80, 89, 126, 0.07);
}

.left-sidebar-main .sidebar-inner ul {
    list-style-type: none;
}
.left-sidebar-main .sidebar-inner ul li {
    padding: 16px 20px;
}
.left-sidebar-main .sidebar-inner ul li.active{
    border-radius: 7px;
    background: rgba(106, 120, 199, 0.20);
}
.left-sidebar-main .sidebar-inner ul li.active a {
    color: #6A78C7;
}
.left-sidebar-main .sidebar-inner ul li a {
    letter-spacing: -0.01em;
    color: #393C52;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.logout {
    padding-bottom: 0 !important;
}
.account-content .right-side-content {
    flex: 0 0 73%;
    max-width: 73%;
    width: 100%;
    /* padding-left: 36px; */
}
/******** VIEW PAGE DESIGN*********/
.share-section {
    padding: 26px;
    border: 1px solid #212529;
    border-radius: 8px;
}
.drag-section {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #212539; */
}
.drag-image {
    margin-right: 24px;
    width: 80px;
    height: 80px;
    border-radius: 20%;
}
.property-subtitle-text {
    font-size: 24px;
    font-weight: 500;
    color: #212529;
    word-break: break-word;
}
.tab-content .tab-pane .share-section .drag-section .upload-delete-button-step {
    align-items: center;
    white-space: nowrap;
    margin-left: 10px;
}
.upload-delete-button-step {
    display: flex;
    justify-content: flex-end;
}
.white-button-step {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 18px;
    color: #385774;
    border: 1px solid #385774;
}
/* .green-button-step {
    color: #fff;
    background-color: #6A78C7;
    border-radius: 8px;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 18px;
} */

.white-button-step:hover {
    color: #fff;
    background-color: #6a78c7;
    border-radius: 8px;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 18px;
}
.offcanvas_property_btn_ {
    display: none;
}
/* ======= SIDEBAR CSS ===== */
.sidebar-inner ul li.active svg path {
    fill: #6A78C7;
}
/* ======= USER HOME CSS ======= */
.hotelProperty_title{
    color: #393C52;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hotelProperty .hotelProperty_card{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.10);
}
.hotelProperty .hotelProperty_card .card-image{
    position: relative;
    height: 100%;
    padding-bottom: 68%;
}
.hotelProperty .hotelProperty_card .card-image img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.hotelProperty .hotelProperty_card .watch-list{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-color: #fff;   
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out; 
}
.hotelProperty .hotelProperty_card:hover .watch-list{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out; 
}
.hotelProperty .hotelProperty_card .watch-list .watch-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A78C7;
    height: 100%;
}
.hotelProperty .hotelProperty_card .card-body .card-title{
    color: #393C52;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.hotelProperty .hotelProperty_card .card-body .hotel_rating .rating{
    color: #FFC107;
    font-size: 15px;
}
.hotelProperty .hotelProperty_card .card-body .hotel_rating .rating_label{
    color: #767992;
    font-size: 14px;
    font-weight: 400;
}
.hotelProperty .hotelProperty_card .card-body .hotel_location .location_name{    
    font-size: 16px;
    font-weight: 400;
    color: #393C52;
}
.hotelProperty .hotelProperty_card .card-footer .change_btn{
    padding: 8px 25px;
    border-radius: 5px;
    background: #6A78C7;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}
.hotelProperty .hotelProperty_card .card-footer .exploer-icons .exploer-icons-inner {
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
}
.hotelProperty .hotelProperty_card .card-footer .exploer-icons .exploer-icons-inner.calender-icon{
    background-color: #6a78c733;
    margin-right: 9px;
    color: #6A78C7;
}
.hotelProperty .hotelProperty_card .card-footer .exploer-icons .exploer-icons-inner.delete-icon{
    background-color: rgba(255, 0, 0, 0.10);
    color: #ED2E2E;
}
.hotelProperty .hotelProperty_card .card-footer .exploer-icons .exploer-icons-inner i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .account-content .left-sidebar-main {
        padding-right: 0px;
    }
    .left-sidebar-main .sidebar-inner {
        padding: 32px 23px 32px 29px;
    }
}
@media screen and (max-width: 992px) {
    .left-sidebar-main .sidebar-inner {
        padding: 32px 20px 32px 20px;
    }
    .account-content .left-sidebar-main {
        padding-right: 0;
    }
    .tab-content
        .tab-pane
        .share-section
        .drag-section
        .upload-delete-button-step {
        margin-left: 0;
    }
    .account-content .left-sidebar-main {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .account-content .right-side-content {
        flex: 0 0 67%;
        max-width: 67%;
    }
    .share-section {
        padding: 20px;
    }
    .upload-delete-button-step .white-button-step {
        width: 100%;
        max-width: 141px;
        margin-bottom: 10px;
        margin-right: 8px;
    }
}
@media screen and (max-width: 768px) {
    .account-content .left-sidebar-main {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .account-content .right-side-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .share-section {
        padding: 15px;
    }
    .sidebar-inner {
        padding: 10px 10px 0 !important;
        min-height: auto;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    .left-sidebar-main .sidebar-inner ul {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        padding-bottom: 10px !important;
    }
    .left-sidebar-main .sidebar-inner ul li {
        padding: 0 23px !important;
        display: contents;
    }
    .left-sidebar-main .sidebar-inner ul li a {
        padding: 0 15px;
    }
    .account-content .left-sidebar-main {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
    .account-content .right-side-content {
        padding: 0 36px;
    }
}
@media screen and (max-width: 468px) {
    .account-content .right-side-content {
        padding: 0;
    }
}

/* MY PROPERTY BOOKING PAGE CSS START */
.hotelimg_box img {
    max-width: 60px;
    width: 100%;
}

.hotel--booking-box .booking--inner-box {
    border: 1px solid lightgrey;
    min-height: 150px;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}

/* .hotel--booking-box .rightside_content{
    width: 100%;
    max-width: 700px;
} */

.hotel--booking-box .booking--inner-box .hotel_book_img{
   
    padding: 15px;
}
.hotel--booking-box .booking--inner-box .hotel_book_img img{
    border-radius: 5px !important;
    height: 100%;
    max-height: 150px;
    min-height: 150px;
    max-width: 150px;
    width: 100%;
    object-fit: cover;
}

.hotel--booking-box .booking--inner-box .inner-right-content {
    width: 100%;
    padding: 15px 20px;
}
.hotel--booking-box .booking--inner-box .inner-right-content .view-btn{
    border: 1px solid #6A78C7;
    border-radius: 3px;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
    color: #6A78C7;
    padding: 7px 20px;
}

.offer--button {
    padding: 6px 11px;
    background-color: #eef1f7 !important;
    color: #889cad !important;
    font-weight: 600;
    border-radius: 6px;
}

.hotel--booking-box .page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #6a78c7;
    border-color: #6a78c7;
}

.hotel--booking-box .page-link {
    color: #000;
}

.hotel--booking-box .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #8195a8;
    background-color: #eef1f7;
    font-weight: 600;
}

.hotel--booking-box .nav-link {
    color: #8195a8;
    font-weight: 600;
    border-radius: 11px;
}

.hotel--booking-box .nav {
    border: 1px solid lightgrey;
    border-radius: 11px;
}

/* booking date picker css start */

.hotel--booking-box .flatpickr-input {
    height: 100%;
    border: 1px solid lightgray !important;
    border: none;
    border-radius: 11px;
    padding-left: 27px;
    outline: none;
    color: #8195a8;
    font-weight: bold;
}

span.flatpickr-weekday {
    color: #fff !important;
}

.hotel--booking-box .nav-link {
    padding: 8px 16px;
}

@media screen and (max-width:992px) {
    .header .navbar .navbar-brand img{
        margin-top: -18px;
    }
}

@media screen and (max-width: 830px) {
    .hotel--booking-box .nav {
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .rightside_content {
        border: 1px solid lightgrey;
        border-radius: 11px;
    }
    .hotel--booking-box .nav {
        border: none;
    }
}
@media screen and (max-width: 539px) {
    .booking--inner-box {
        display: block !important;
    }
    .hotel--booking-box .booking--inner-box .hotel_book_img img {
        height: 100%;
        max-width: 100%;
        max-height: 137px;
        border-radius: 9px 9px 0px 0px;
    }
}
@media screen and (max-width: 376px) {
    .hotel--booking-box .booking--inner-box .inner-right-content {
        padding: 15px 7px;
    }
}

/* .hotel--booking-box .rightside_content .nav-item:not(last-child){
    border-right: 1px solid lightgrey;
} */

/* @media screen and (max-width:992px){
    .account-content .right-side-content{
        flex: 0 0 74%;
        max-width: 74%;
    }
    .account-content .left-sidebar-main {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media screen and (max-width:864px){
    .hotel--booking-box .nav-link{
        padding: 8px;
    }
} */
