/* .nav-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background: #0ab39c !important;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    top: 47px;
  }
  .nav-item:hover::before {
    width: 100%;
    color: #0ab39c !important;
  } */

  .navbar-nav .active{
    color: #0ab39c !important;
    border-bottom: 3px solid #0ab39c;
  } 
  .edit-data-box .edit-box .dropdown .dropdown-item:focus,
  .edit-data-box .edit-box .dropdown .dropdown-item:hover{
   border-radius: 8px;
   }

  .page-item.active .page-link{
    background-color: #0ab39c !important;
    border-color: #0ab39c !important;
  }